/*.container{
    display: flex;
    flex-direction: column;
}*/






.header{
    background-color: #1F2937;
    height: 400px;
   
}

.headerlogo{
    font-size: 24px;
    color: #f9faf8;
    margin-left: 80px;
}

.links{
    margin-right: 80px;
}

#aw{
    width: 300px;
}

.headerp{
    width: 380px;
}

.header,#aw{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.header,.links,.headerp{
    font-size: 18px;
    color: #e5e7eb;
}

#placeholder{
    background-color: #485361;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    margin-top: 40px;
}

/*.info{

}*/

.images{
    display: flex;
    gap: 40px;
}



.img1,.img2,.img3,.img4{
    height: 80px;
    width: 80px;
    border: 4px solid blue;
    border-radius: 10px;
    
}

.info,h4{
    color: #1F2937;
    font-weight: 800;
}

.quote{
    background-color: #e5e7eb;
    
}

.quote,p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.footer{
    background-color: #3882f6;
}


/*Alignment*/

/*.header{
    display: flex;
    flex-direction: column;
}*/

.headerloli{
    display: flex;
    justify-content: space-between;
}

.headerplte{
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 20px;
}

.text{
    height:420px;
    width: 210px;
    margin-left: 80px;
    margin-top: 40px;
}