/*.container{
    display: flex;
    flex-direction: column;
}*/


body{
    margin: 0px;
    padding: 0px;
}





.header{
    background-color: #1F2937;
    height: 400px;

}

.headerlogo{
    font-size: 24px;
    color: #f9faf8;
    margin-left: 80px;
}

.links{
    margin-right: 80px;
}

#aw{
    width: 300px;
}

.headerp{
    width: 380px;
}

.header,#aw{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.header,.links,.headerp{
    font-size: 18px;
    color: #e5e7eb;
}

#placeholder{
    background-color: #485361;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    margin-top: 40px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.images{
    display: flex;
    gap: 40px;
}

.subtext{
    display: flex;
    gap: 40px;
}



.s1,.s2,.s3,.s4{
    height: 40px;
    width: 150px;
   margin-top: 10px;
   text-align: center;
   margin-right: 10px;
}


.img1,.img2,.img3,.img4{
    height: 150px;
    width: 150px;
    border: 4px solid blue;
    border-radius: 10px;
    
}

.info,h4{
    color: #1F2937;
    font-weight: 800;
}

.quote{
    background-color: #e5e7eb;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-top: 40px;
    
}

.quote,p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.thor{
    padding-left: 700px;
    padding-bottom: 50px;
    font-weight: 100;
    font-weight: bold;
}

.quote p{
    width: 730px;
    /*text-align: center;*/
}

.footer{
    background-color: #3882f6;
}


/*Alignment*/

/*.header{
    display: flex;
    flex-direction: column;
}*/

.headerloli{
    display: flex;
    justify-content: space-between;
}

.headerplte{
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 20px;
}

.text{
    height:420px;
    width: 210px;
    margin-left: 80px;
    margin-top: 40px;
}